* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

body,
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 120px;
}

/* shared styles */


.description-one {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.description-two {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.title-one {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.title-two {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.title-three {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.title-four {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.title-five {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

/* header styles  */

.btn-one {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    cursor: pointer;
}

.btn-one:hover {
    background-color: rgb(0, 106, 80);
    color: white;
}

header {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 50px;
    background-color: rgb(241, 238, 232);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}


/* section-one style  */
.section-one {
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec-one-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}



.btn-two:hover {
    background-color: rgb(198, 228, 214);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
}

.btn-two {
    color: rgb(0, 106, 80);

    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid black;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    cursor: pointer;
}



/* section two style  */

.section-two {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 20px;
}

.sec-two-first-div {
    display: flex;
    justify-content: space-around;
}

.sec-two-second-sub-div {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(248, 233, 214, 0.692);
    padding: 25px;
    box-shadow: 2px 2px solid rgba(14, 14, 14, 0.15);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    gap: 16px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

/* section three style  */

.section-three {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0px auto;
    gap: 25px;
    border-radius: 20px;
    padding: 20px;

}

.sec-three-btn-one:hover {
    background-color: rgb(24, 56, 112);
}

.sec-three-btn-one {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

.sec-three-btn-two:hover {
    background-color: rgb(4, 83, 48);
}

.sec-three-btn-two {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

.sec-three-btn-three:hover {
    background-color: rgb(177, 136, 39);
}

.sec-three-btn-three {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

.sec-three-first-div {
    display: flex;
    justify-content: space-around;
}


.sec-three-first-sub-div {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);

}

.sec-three-second-sub-div {
    border-radius: 16px;
    background: rgb(198, 228, 214);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);

}

.sec-three-third-sub-div {
    border-radius: 16px;
    background: rgb(248, 223, 165);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);

}

/* section four style  */

.section-four {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 20px 0px;
    border-radius: 20px;
}

.guru {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* section five style  */
.section-five {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
}

table {
    width: 1280px;
    height: 409px;
    padding: 50px;
    border: white;
}

table,
th,
tr,
td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    text-align: left;
    font-family: Fira Sans;
    background-color: rgb(241, 238, 232);
}

th {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 23px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}

td {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 23px;
}

.table-btn:hover {
    background: rgb(54, 110, 76);
    color: white;
}

.table-btn {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    cursor: pointer;
}


/* section six style  */

.daily-star-logo {
    width: 150px;
    height: 40px;
}

.sec-six-img,
.sec-six-img-two,
.sec-six-img-three {
    border-radius: 20px;
    width: 408px;
    height: 306px;
}

.section-six {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
}

.sec-six-first-div {
    display: flex;
    gap: 50px;
    background-color: rgb(241, 238, 232);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);

}

.sec-six-btn:hover {
    background: rgb(2, 51, 39);
}

.sec-six-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 13px 26px 13px 26px;
    cursor: pointer;
}

.sec-six-sub-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* section seven style  */

.section-seven {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(241, 238, 232);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

.taka:hover {
    background-color: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.8);
}

.taka {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
    cursor: pointer;
}

.taka-div {
    display: flex;
    justify-content: space-around;
    gap: 90px;

}

.other-amount {
    color: rgba(14, 14, 14, 0.89);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 400px;
    border-radius: 5px;
    background-color: rgb(252, 245, 236);
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
}

.other-amount-div {
    width: 1032px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* section seven 1 style  */
.section-seven-1 {
    width: 1280px;
    height: 395px;
    margin: 0 auto;
    border-radius: 20px;
    background: rgb(161, 192, 178);
    box-shadow: 2px 2px rgba(14, 14, 14, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.sec-seven-1-div{
    display: flex;

}

.sec-seven-1-input {
    width: 600px;
    color: rgba(5, 5, 5, 0.63);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 18px 40px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    margin-right: 0px;
    border: none;
}

.sec-seven-1-btn:hover{
    background: rgb(3, 68, 52);
}

.sec-seven-1-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    margin-left: 0px;
    cursor: pointer;
    border: none;
}


/* section eight style  */
.section-eight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(241, 238, 232);
    border-radius: 20px;
    padding: 20px;
    width: 1280px;
    margin: 0px auto;
    box-shadow: 1px 1px rgba(14, 14, 14, 0.15);
}

.footer-div {
    display: flex;
    gap: 20px;
}